@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #87CEEB;
    color: #2d333a;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #2d333a;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: white;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-card:hover {
    cursor: pointer; 
    box-shadow: 0 0 30px #FAF9F6; 
}

.stats-card {
    background-color: #2d333a;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    color:white;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #2d333a;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    color:white;
    font-size: 10px;

}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #FAF9F6;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    background-color: #2d333a;
    color:white;
}

h6{
    font-size: 30px;
    margin: 40px auto;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 40px auto;
    text-align: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-label {
    font-size: 18px;
    margin-bottom: 10px;
}

.search-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-input {
    padding: 10px;
    width: 250px;
    border-radius: 15px;
    color: #2d333a;
}

.centered-input::placeholder {
    color: #2d333a;
}

.centered-input::placeholder {
    color: #2d333a;
}

.search-button {
    background-color: #2d333a;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
}
